body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .navbar {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .navbar li a {
    text-decoration: none;
    padding: 10px;
    background: #eee;
  }
  
  .navbar li:hover {
    background: #ccc;
  }
  
  .custom-btn {
    padding: 10px 20px;
    background-color: #0077cc;
    color: white;
    border: none;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #audio-controls {
    margin-top: 50px;
    background-color: #f3f3f3;
    padding: 10px;
  }
  